# Blacklist the highest level directory with /*
/*

# Whitelist the files that should be part of the respository.
!.git/
!.git/**
!.github/
!.github/**
!src/
!src/**
src/main/main.iml
src/test/test.iml
!.gitattributes
!.gitignore
!Dockerfile
!LICENSE
!pom.xml
!README.md
