# Blacklist the highest level directory with /*
/*

# Whitelist the files that should be part of the respository.
!.git/
!.github/
!src/
!src/*
src/main/main.iml
src/test/test.iml
!.gitignore
!.gitattributes
!LICENSE
!pom.xml
!README.md
