<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is used if the log4j (the default logger that comes with spring-boot-starter-logging) is used.
  The configuration here can be done (or overridden) by setting the logging properties in application.properties
  I think it would be a better practice to do it there and this file may be deleted.
  Otherwise if direct configuration is needed then this file can be copied from spring docs and pasted here in
  resources. Spring recognizes this file name (logback-spring.xml) and uses it.

  https://springframework.guru/using-logback-spring-boot/
  https://docs.spring.io/spring-boot/docs/2.1.18.RELEASE/reference/html/boot-features-logging.html
  https://stackoverflow.com/questions/68428370/how-to-add-default-logback-xml-to-spring-boot-project)
  https://www.baeldung.com/spring-boot-logging
-->
<configuration>
  <include resource="org/springframework/boot/logging/logback/default.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
  <logger name="org.springframework.web" level="DEBUG"/>
</configuration>